openapi: 3.0.3
info:
  title: IDLR Property Title System API
  description: |
    Comprehensive API documentation for the Integrated Digital Land Registry & Property Title System.
    
    ## Authentication
    All API endpoints require authentication using JWT tokens obtained through the OAuth flow.
    
    ## Rate Limiting
    - Anonymous: 10 requests/minute
    - Authenticated: 100 requests/minute
    - Premium: 500 requests/minute
    
    ## Error Handling
    All errors follow the standard format:
    ```json
    {
      "error": "Error type",
      "message": "Detailed error message",
      "code": "ERROR_CODE"
    }
    ```
  version: 1.0.0
  contact:
    name: IDLR Support
    email: support@idlr.gov.ng
    url: https://idlr.gov.ng
  license:
    name: Proprietary
    url: https://idlr.gov.ng/license

servers:
  - url: https://api.idlr.gov.ng/v1
    description: Production server
  - url: https://staging-api.idlr.gov.ng/v1
    description: Staging server
  - url: http://localhost:3000/api
    description: Development server

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Parcels
    description: Land parcel management
  - name: Transactions
    description: Property transactions
  - name: Documents
    description: Document management
  - name: Blockchain
    description: Blockchain integration
  - name: Analytics
    description: Analytics and reporting
  - name: Search
    description: Search functionality

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: string
      required:
        - error
        - message
    
    Parcel:
      type: object
      properties:
        id:
          type: string
          example: "PRC-2026-001234"
        parcel_id:
          type: string
          example: "LAG/IKJ/001/2026"
        owner_id:
          type: string
        owner_name:
          type: string
          example: "John Doe"
        state:
          type: string
          example: "Lagos"
        lga:
          type: string
          example: "Ikeja"
        address:
          type: string
        land_area:
          type: number
          format: float
          example: 500.5
        land_use_type:
          type: string
          enum: [residential, commercial, agricultural, industrial, mixed]
        estimated_value:
          type: number
          format: float
        coordinates:
          type: array
          items:
            type: array
            items:
              type: number
              format: float
        status:
          type: string
          enum: [active, pending, disputed, inactive]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    
    Transaction:
      type: object
      properties:
        id:
          type: string
          example: "TX-2026-001234"
        parcel_id:
          type: string
        transaction_type:
          type: string
          enum: [transfer, mortgage, lease, subdivision, consolidation]
        from_owner:
          type: string
        to_owner:
          type: string
        amount:
          type: number
          format: float
        status:
          type: string
          enum: [pending, approved, completed, rejected, cancelled]
        transaction_date:
          type: string
          format: date-time
        blockchain_tx_hash:
          type: string
        created_at:
          type: string
          format: date-time
    
    Document:
      type: object
      properties:
        id:
          type: string
        parcel_id:
          type: string
        transaction_id:
          type: string
        document_type:
          type: string
          enum: [title_deed, survey_plan, cof, receipt, contract]
        filename:
          type: string
        file_url:
          type: string
          format: uri
        ipfs_hash:
          type: string
        uploaded_at:
          type: string
          format: date-time
    
    SearchResult:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Parcel'
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer

security:
  - BearerAuth: []

paths:
  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user and obtain JWT token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                - email
                - password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      role:
                        type: string
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      description: Invalidate current session
      responses:
        '200':
          description: Logout successful
        '401':
          description: Unauthorized
  
  /parcels:
    get:
      tags:
        - Parcels
      summary: List parcels
      description: Retrieve a paginated list of parcels
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: state
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
    
    post:
      tags:
        - Parcels
      summary: Create parcel
      description: Register a new land parcel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parcel_id:
                  type: string
                owner_name:
                  type: string
                state:
                  type: string
                lga:
                  type: string
                address:
                  type: string
                land_area:
                  type: number
                land_use_type:
                  type: string
                estimated_value:
                  type: number
                coordinates:
                  type: array
                  items:
                    type: array
                    items:
                      type: number
              required:
                - parcel_id
                - owner_name
                - state
                - lga
                - land_area
                - coordinates
      responses:
        '201':
          description: Parcel created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Parcel'
        '400':
          description: Invalid input
        '409':
          description: Parcel already exists
  
  /parcels/{id}:
    get:
      tags:
        - Parcels
      summary: Get parcel
      description: Retrieve parcel details by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Parcel'
        '404':
          description: Parcel not found
    
    patch:
      tags:
        - Parcels
      summary: Update parcel
      description: Update parcel information
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                estimated_value:
                  type: number
                status:
                  type: string
      responses:
        '200':
          description: Parcel updated
        '404':
          description: Parcel not found
  
  /transactions:
    get:
      tags:
        - Transactions
      summary: List transactions
      description: Retrieve transaction history
      parameters:
        - name: parcel_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
    
    post:
      tags:
        - Transactions
      summary: Create transaction
      description: Initiate a new property transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parcel_id:
                  type: string
                transaction_type:
                  type: string
                to_owner:
                  type: string
                amount:
                  type: number
              required:
                - parcel_id
                - transaction_type
      responses:
        '201':
          description: Transaction created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  
  /transactions/{id}:
    get:
      tags:
        - Transactions
      summary: Get transaction
      description: Retrieve transaction details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  
  /transactions/{id}/status:
    patch:
      tags:
        - Transactions
      summary: Update transaction status
      description: Update the status of a transaction
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [approved, rejected, completed, cancelled]
              required:
                - status
      responses:
        '200':
          description: Status updated
        '404':
          description: Transaction not found
  
  /documents:
    post:
      tags:
        - Documents
      summary: Upload document
      description: Upload a document for a parcel or transaction
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                parcel_id:
                  type: string
                transaction_id:
                  type: string
                document_type:
                  type: string
              required:
                - file
                - document_type
      responses:
        '201':
          description: Document uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
  
  /search:
    get:
      tags:
        - Search
      summary: Search parcels
      description: Full-text search across parcels
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
  
  /analytics/transactions:
    post:
      tags:
        - Analytics
      summary: Transaction analytics
      description: Generate transaction analytics report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
                state:
                  type: string
              required:
                - start_date
                - end_date
      responses:
        '200':
          description: Analytics report
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_transactions:
                    type: integer
                  total_value:
                    type: number
                  by_type:
                    type: object
                  daily_trend:
                    type: array
                    items:
                      type: object
  
  /blockchain/verify:
    post:
      tags:
        - Blockchain
      summary: Verify on blockchain
      description: Verify transaction on blockchain
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transaction_id:
                  type: string
              required:
                - transaction_id
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
                  tx_hash:
                    type: string
                  block_number:
                    type: integer
